.grow { 
    transition: all .2s ease-in-out; 
    
    }
    
    .grow:hover{
        transform: scale(1.05);
     box-shadow: 0  10px 25px rgba(18, 212, 212, 0.12), 0 4px 8px rgba(89, 210, 231, 0.06);
  
   }
 